$primary-color: #0288dd;

@mixin showVideoContainerControls {
  .video-container__controls {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .controls__backdrop,
    .controls__actions {
      opacity: 1;
    }
  }
}

@mixin transition($property, $duration, $func: cubic-bezier(0.4, 0, 1, 1)) {
  transition: $property $duration $func;
}

:host {
  display: inline-block;
  width: 100%;
}

.video-container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  position: relative;

  .video-container__player {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .video-container__controls {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60%;
    cursor: default;

    .controls__backdrop {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      background-image: url("../../assets/img/overlay.png");
      background-position: bottom;
      background-repeat: repeat-x;
      opacity: 0;
      @include transition(opacity, 0.10s);
    }

    .controls__progress {
      padding: 0 15px;
      width: calc(100% - 30px);
      z-index: 1;

      .progress__inner {
        padding-top: 10px;
        cursor: pointer;

        .inner__placeholder {
          height: 3px;
          background: rgba(255, 255, 255, .4);
          transition: all 0.1s ease;

          > div {
            height: 100%;
            background: $primary-color;
            position: relative;

            &:after {
              content: ' ';
              display: block;
              width: 12px;
              height: 12px;
              border-radius: 6px;
              background: $primary-color;
              position: absolute;
              top: 50%;
              right: 0;
              opacity: 0;
              transform: translateY(-50%);
              transition: all 0.1s ease;
            }
          }
        }

        &:hover,
        &:focus {
          .inner__placeholder {
            height: 5px;
            background: rgba(255, 255, 255, .6);

            > div {
              &:after {
                opacity: 1;
              }
            }
          }
        }
      }
    }

    .controls__actions {
      background: transparent;
      display: flex;
      justify-content: space-between;
      gap: 40px;
      width: calc(100% - 20px);
      padding: 0 10px;
      height: 48px;
      z-index: 1;
      opacity: 0;

      .actions__left-side {
        display: flex;
        align-items: center;
      }

      .actions__left-side__volume-area {
        display: flex;
        align-items: center;
        padding-right: 5px;

        .volume-area__slider {
          width: 0;
          height: 48px;
          overflow: hidden;
          cursor: pointer;
          position: relative;
          @include transition(width, 0.2s);

          .slider__track {
            height: 3px;
            width: 100%;
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -1.5px;
            background: rgba(255, 255, 255, .35);
          }

          .track__progress {
            height: 100%;
            width: 0;
            background: #ffffff;
            position: relative;
          }

          .progress__handle {
            height: 12px;
            width: 12px;
            border-radius: 6px;
            position: absolute;
            top: 50%;
            margin-top: -6px;
            left: calc(100% - 12px);
            background: #ffffff;
          }
        }

        .volume-area__time {
          color: #ffffff;
          margin-left: 10px;
          font-size: 12px;
          letter-spacing: -0.2px;
        }

        &:hover,
        &:focus {
          .volume-area__slider {
            width: 55px;
          }
        }
      }

      button {
        text-align: center;
        overflow: hidden;
        background: transparent;
        cursor: pointer;
        width: 48px;
        height: 48px;
        padding: 0 4px;
        margin: 0;
        display: inline-block;
        border: 0;

        > svg {
          display: none;

          &.show {
            display: block;
          }
        }

        &.volume-area__btn {
          padding: 6px;
        }
      }

      .svg-shadow {
        stroke: #000;
        stroke-opacity: .15;
        stroke-width: 2px;
        fill: none;
      }

      .svg-fill {
        fill: #fff;
      }
    }

    &.full-height {
      height: 100%;
    }
  }

  .video-container__video-duration {
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: #000000;
    color: #ffffff;
    letter-spacing: -0.2px;
    font-size: 12px;
    padding: 0 3px;
    font-weight: 500;
  }

  &.fullscreen-active {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

    video {
      height: auto;
    }

    video::-webkit-media-controls {
      display: none !important;
    }

    .controls {
      position: absolute;
      bottom: 2%;
      width: 100%;
      z-index: 2147483647;
    }
  }

  &.touched {
    &:not(.paused) {
      &:hover,
      &:focus {
        @include showVideoContainerControls();
      }
    }

    &.paused {
      @include showVideoContainerControls();
    }
  }
}
