<div #videoContainer class="video-container" [ngClass]="{'fullscreen-active': isFullScreenActive}">
  <video #video controls preload="metadata" poster="assets/img/poster.jpg" class="video-container__player">
    <source src="assets/video/tears-of-steel-battle-clip-medium.mp4" type="video/mp4">
    <source src="assets/video/tears-of-steel-battle-clip-medium.webm" type="video/webm">
    <source src="assets/video/tears-of-steel-battle-clip-medium.ogg" type="video/ogg">
    <!-- Flash fallback -->
    <object type="application/x-shockwave-flash"
            data="assets/video/flash-player.swf?videoUrl=assets/video/tears-of-steel-battle-clip-medium.mp4" width="1024" height="576">
      <param name="movie" value="flash-player.swf?videoUrl=video/tears-of-steel-battle-clip-medium.mp4"/>
      <param name="allowfullscreen" value="true"/>
      <param name="wmode" value="transparent"/>
      <param name="flashvars"
             value="controlbar=over&amp;image=img/poster.jpg&amp;file=flash-player.swf?videoUrl=video/tears-of-steel-battle-clip-medium.mp4"/>
      <img alt="Tears of Steel poster image" src="assets/img/poster.jpg" width="1024" height="428"
           title="No video playback possible, please download the video from the link below"/>
    </object>
    <!-- Offer download -->
    <a href="assets/video/tears-of-steel-battle-clip-medium.mp4">Download MP4</a>
  </video>
  <div class="video-container__controls" *ngIf="supportsHtml5Video">
    <div class="controls__backdrop"></div>
    <div class="controls__actions" #controlsActions>
      <button id="playpause" type="button" (click)="onPlayPauseClick()">
        <svg height="100%" version="1.1" viewBox="0 0 36 36" width="100%" *ngIf="isVideoPlaying">
          <use class="svg-shadow" xlink:href="#harri-pause-icon"></use>
          <path class="svg-fill" d="M 12,26 16,26 16,10 12,10 z M 21,26 25,26 25,10 21,10 z" id="harri-pause-icon"></path>
        </svg>
        <svg height="100%" version="1.1" viewBox="0 0 36 36" width="100%" *ngIf="!isVideoPlaying">
          <use class="svg-shadow" xlink:href="#harri-play-icon"></use>
          <path class="svg-fill" d="M 12,26 18.5,22 18.5,14 12,10 z M 18.5,22 25,18 25,18 18.5,14 z" id="harri-play-icon"></path>
        </svg>
      </button>
      <button id="stop" type="button" (click)="onStopClick()">Stop</button>
      <div class="progress">
        <progress id="progress" value="0" [max]="progressMax" #progress (click)="onProgressClick($event)">
          <span id="progress-bar" [ngStyle]="{'width': progressBarWidth}"></span>
        </progress>
      </div>
      <button id="mute" type="button" (click)="onMuteClick()">Mute/Unmute</button>
      <button id="volinc" type="button" (click)="onAlertVolume('+')">Vol+</button>
      <button id="voldec" type="button" (click)="onAlertVolume('-')">Vol-</button>
      <button id="fs" type="button" *ngIf="fullScreenEnabled" (click)="onFullScreenClick()">Fullscreen</button>
    </div>
  </div>
</div>
