<div #videoContainer class="video-container"
     [ngClass]="{'fullscreen-active': isFullScreenActive, 'touched': isVideoTouched, 'paused': isVideoPaused}">
  <video #video controls preload="metadata" poster="assets/img/poster.jpg" class="video-container__player">
    <source src="assets/video/tears-of-steel-battle-clip-medium.mp4" type="video/mp4">
    <source src="assets/video/tears-of-steel-battle-clip-medium.webm" type="video/webm">
    <source src="assets/video/tears-of-steel-battle-clip-medium.ogg" type="video/ogg">
    <!-- Flash fallback -->
    <object type="application/x-shockwave-flash"
            data="assets/video/flash-player.swf?videoUrl=assets/video/tears-of-steel-battle-clip-medium.mp4"
            width="1024" height="576">
      <param name="movie" value="flash-player.swf?videoUrl=video/tears-of-steel-battle-clip-medium.mp4"/>
      <param name="allowfullscreen" value="true"/>
      <param name="wmode" value="transparent"/>
      <param name="flashvars"
             value="controlbar=over&amp;image=img/poster.jpg&amp;file=flash-player.swf?videoUrl=video/tears-of-steel-battle-clip-medium.mp4"/>
      <img alt="Tears of Steel poster image" src="assets/img/poster.jpg" width="1024" height="428"
           title="No video playback possible, please download the video from the link below"/>
    </object>
    <!-- Offer download -->
    <a href="assets/video/tears-of-steel-battle-clip-medium.mp4">Download MP4</a>
  </video>
  <div class="video-container__controls" *ngIf="supportsHtml5Video" [ngClass]="{'full-height': isVideoPlayerTooSmall}">
    <div class="controls__backdrop"></div>
    <div class="controls__progress">
      <div class="progress__placeholder" #controlsProgress (click)="onProgressClick($event)">
        <div [ngStyle]="{'width': progressBarWidth}"></div>
      </div>
    </div>
    <div class="controls__actions" #controlsActions>
      <div class="actions__left-side">
        <button type="button" (click)="onPlayPauseClick()" class="actions__left-side-play-pause-btn" #playPauseButton>
          <svg height="100%" version="1.1" viewBox="0 0 36 36" width="100%" [ngClass]="{'show': isVideoPlaying}">
            <use class="svg-shadow" xlink:href="#harri-pause-icon"></use>
            <path class="svg-fill" d="M 12,26 16,26 16,10 12,10 z M 21,26 25,26 25,10 21,10 z"
                  id="harri-pause-icon"></path>
          </svg>
          <svg height="100%" version="1.1" viewBox="0 0 36 36" width="100%" [ngClass]="{'show': !isVideoPlaying}">
            <use class="svg-shadow" xlink:href="#harri-play-icon"></use>
            <path class="svg-fill" d="M 12,26 18.5,22 18.5,14 12,10 z M 18.5,22 25,18 25,18 18.5,14 z"
                  id="harri-play-icon"></path>
          </svg>
        </button>
        <div class="actions__left-side__volume-area">
          <button class="volume-area__btn">
            <svg height="100%" version="1.1" viewBox="0 0 36 36" width="100%">
              <use class="svg-shadow" xlink:href="#harri-speaker-icon"></use>
              <path class="svg-fill"
                    d="M8,21 L12,21 L17,26 L17,10 L12,15 L8,15 L8,21 Z M19,14 L19,22 C20.48,21.32 21.5,19.77 21.5,18 C21.5,16.26 20.48,14.74 19,14 ZM19,11.29 C21.89,12.15 24,14.83 24,18 C24,21.17 21.89,23.85 19,24.71 L19,26.77 C23.01,25.86 26,22.28 26,18 C26,13.72 23.01,10.14 19,9.23 L19,11.29 Z"
                    fill="#fff" id="harri-speaker-icon">
              </path>
            </svg>
          </button>
          <div class="volume-area__slider" (click)="onVolumeSliderClick($event)" #volumeSlider>
            <div class='slider__track'>
              <div class='track__progress' [ngStyle]="{'width': volumeTrackProgress + '%'}">
                <div class='progress__handle' [ngStyle]="{'left': volumeProgressHandlePosition + 'px'}"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="actions__right-side">
        <button type="button" *ngIf="fullScreenEnabled" (click)="onFullScreenClick()" #fullscreenButton>
          <svg height="100%" version="1.1" viewBox="0 0 36 36" width="100%" [ngClass]="{'show': !isFullScreenActive}">
            <g>
              <use class="svg-shadow" xlink:href="#harri-open-fullscreen-top-left-rect"></use>
              <path class="svg-fill" d="m 10,16 2,0 0,-4 4,0 0,-2 L 10,10 l 0,6 0,0 z"
                    id="harri-open-fullscreen-top-left-rect"></path>
            </g>
            <g>
              <use class="svg-shadow" xlink:href="#harri-open-fullscreen-bottom-left-rect"></use>
              <path class="svg-fill" d="m 20,10 0,2 4,0 0,4 2,0 L 26,10 l -6,0 0,0 z"
                    id="harri-open-fullscreen-bottom-left-rect"></path>
            </g>
            <g>
              <use class="svg-shadow" xlink:href="#harri-open-fullscreen-top-right-rect"></use>
              <path class="svg-fill" d="m 24,24 -4,0 0,2 L 26,26 l 0,-6 -2,0 0,4 0,0 z"
                    id="harri-open-fullscreen-top-right-rect"></path>
            </g>
            <g>
              <use class="svg-shadow" xlink:href="#harri-open-fullscreen-bottom-right-rect"></use>
              <path class="svg-fill" d="M 12,20 10,20 10,26 l 6,0 0,-2 -4,0 0,-4 0,0 z"
                    id="harri-open-fullscreen-bottom-right-rect"></path>
            </g>
          </svg>
          <svg height="100%" version="1.1" viewBox="0 0 36 36" width="100%" [ngClass]="{'show': isFullScreenActive}">
            <g class="fullscreen-button-corner-2">
              <use class="svg-shadow" xlink:href="#harri-close-fullscreen-top-left-rect"></use>
              <path class="svg-fill" d="m 14,14 -4,0 0,2 6,0 0,-6 -2,0 0,4 0,0 z"
                    id="harri-close-fullscreen-top-left-rect"></path>
            </g>
            <g class="fullscreen-button-corner-3">
              <use class="svg-shadow" xlink:href="#harri-close-fullscreen-top-left-rect"></use>
              <path class="svg-fill" d="m 22,14 0,-4 -2,0 0,6 6,0 0,-2 -4,0 0,0 z"
                    id="harri-close-fullscreen-bottom-left-rect"></path>
            </g>
            <g class="fullscreen-button-corner-0">
              <use class="svg-shadow" xlink:href="#harri-close-fullscreen-top-left-rect"></use>
              <path class="svg-fill" d="m 20,26 2,0 0,-4 4,0 0,-2 -6,0 0,6 0,0 z"
                    id="harri-close-fullscreen-top-right-rect"></path>
            </g>
            <g class="fullscreen-button-corner-1">
              <use class="svg-shadow" xlink:href="#harri-close-fullscreen-top-left-rect"></use>
              <path class="svg-fill" d="m 10,22 4,0 0,4 2,0 0,-6 -6,0 0,2 0,0 z"
                    id="harri-close-fullscreen-bottom-right-rect"></path>
            </g>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
